<div class="row">
    <div class="col-3">
        <app-sidebar-nonmanager></app-sidebar-nonmanager>
    </div>
    <div class="col-9">
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">
                    <h4>Request OT</h4>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="request.date" required>
                    </div>
                    <div class="mb-3">
                        <label for="fromTime" class="form-label">From Time</label>
                        <input type="time" class="form-control" id="fromTime" name="fromTime" [(ngModel)]="request.startTime" required>
                    </div>
                    <div class="mb-3">
                        <label for="toTime" class="form-label">To Time</label>
                        <input type="time" class="form-control" id="toTime" name="toTime" [(ngModel)]="request.endTime" required>
                    </div>
                    <div class="mb-3">
                        <label for="reason" class="form-label">Reason</label>
                        <textarea class="form-control" id="reason" name="reason" rows="3" [(ngModel)]="request.text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="persistRequest()">Submit</button>
                    <button type="reset" class="btn btn-secondary">Discard</button>
                </form>
            </div>
        </main>
    </div>
</div>
